<% include userheader %>
<style type="text/css">
	.panel-body {
	  	margin-top:2%;
	  }
</style>
<input type="hidden" id="sessionLat" value="<%=longitude%>">
<input type="hidden" id="sessionLong" value="<%=latitude%>">
		<div class="container">
			<div class="row toprow">
				<div class="col-xs-12 col-md-4">
					<div class="panel panel-default boxy status">
					  <div class="panel-heading">
					  	<div class="row">
						  <div class="col-xs-6">
						    	<h3 class="panel-title">Water Status</h3>
						   </div>
						    <div class="col-xs-6"> 
						    	<a href="#" class="pull-right">Full Report</a>
						    </div>
						  </div>
					  </div>
					  <div class="panel-body">
					    <div id="chart_div" style="width: 400px; height: 120px;"></div>
					    <!--  <a style="position:relative; bottom:-100px;" class="pull-right" href="#">Testing and Violation Data</a> -->
					  </div>
					</div>
				</div>
				<div class="col-xs-12 col-md-8">
					<div class="panel panel-default boxy">
					  <div class="panel-heading">
					  <div class="row">
						 <div class="col-xs-6">
						    <h3 class="panel-title">Clean Water Locations</h3> 
						   
						  </div>
						<div class="col-xs-6">
						    
						  <a id="seeAllStores">See Full List</a> <a href="/waterpoint/new" class="pull-right">Add Free Water Point</a>
						</div>
					  </div>
					  <div class="panel-body">
					  <label>Change City</label>
					  <input class="form-control" id="auto-complete" type="text" placeholder="Enter a City" name="city_search">
					    <div id="map"></div>
					  </div>
					</div>
				</div>
				</div>
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="panel panel-default boxy">
					  <div class="panel-heading">
					 	 <div class="row">
					 	 	<div class="col-xs-9">
					    		<h3 class="panel-title">Upcoming Water Board Meetings</h3>
					    	</div>
					    	<div class="col-xs-3">
					    	<a class="pull-right" href="/getinvolved">See All</a>
					    	</div>
					    </div>
					  </div>
					  <div class="panel-body">
					  <table class="table table-responsive table-striped">
						   <thead>
						    	<th>Date</th>
						    	<th>Topic</th>
						    	<th>Program</th>
						    </thead>
						    <tbody>
							    <tr>
							    	<td>Jan 23</td>
							    	<td>Public Scoping Meeting: Statewide Water Quality Standards Variance Policy</td>
							    	<td><a href="http://www.swrcb.ca.gov/bacterialobjectives/docs/notice_variance_policy.pdf">Notice</a></td>
							    	
							    </tr>
							    <tr>
							    	<td>Jan 23</td>
							    	<td>Closed Session Meeting: California WaterFix</td>
							    	<td><a href="http://www.waterboards.ca.gov/waterrights/water_issues/programs/bay_delta/california_waterfix/">Program</a></td>
							    	
							    </tr>
							    <tr>
							    	<td>Jan 30</td>
							    	<td>Closed Session Meeting: California WaterFix</td>
							    	<td><a href="http://www.waterboards.ca.gov/waterrights/water_issues/programs/bay_delta/california_waterfix/">Program</a></td>
							    	
							    </tr>
							   
							    <tr>
							    	<td>Feb 1</td>
							    	<td>Staff Workshop: Relationship between Instream Flows and the Proposed Beneficial Uses</td>
							    	<td><a href="http://www.waterboards.ca.gov/water_issues/programs/mercury/">Program</a></td>
							    	
							    </tr>
							     <tr>
							    	<td>Feb 7</td>
							    	<td>Board Meeting</td>
							    	<td></td>
							    	
							    </tr>
						    </tbody>
					    </table>
					  </div>
					</div>
				</div>
				<<!-- div class="col-xs-12 col-md-4">
					<div class="panel panel-default boxy">
					  <div class="panel-heading">
					    <h3 class="panel-title">Government Representatives</h3>
					  </div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="panel panel-default boxy">
					  <div class="panel-heading">
					    <h3 class="panel-title">Discussion</h3>
					  </div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				</div> -->
			</div>
		</div>
		<input type="hidden" id="startLat" name="startLat">
		<input type="hidden" id="startLon" name="startLon">
		<input type="hidden" id="latitude" name="latitude" value="<%=latitude%>">
		<input type="hidden" id="longitude" name="longitude" value="<%=longitude%>">
	</body>
</html>
<script type="text/javascript">
window.onload = function() {
  var startPos;
  var geoSuccess = function(position) {
    startPos = position;
    console.log(position);
    document.getElementById('startLat').innerHTML = startPos.coords.latitude;
    document.getElementById('startLon').innerHTML = startPos.coords.longitude;
  };
  navigator.geolocation.getCurrentPosition(geoSuccess);

};
  

var options = {

}

var input = document.getElementById('auto-complete');
var autocomplete = new google.maps.places.Autocomplete(input,options)

 google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            // document.getElementById('city2').value = place.name;
            // document.getElementById('cityLat').value = place.geometry.location.lat();
            var formattedAddress = place.formatted_address;
            var individualAddressComponents = formattedAddress.split(',');
             var stateString = individualAddressComponents[2];
             var state = stateString.substring(0,3);
            var zip = stateString.substring(4,9)
            document.getElementById('latitude').value = place.geometry.location.lng();
            document.getElementById('longitude').value = place.geometry.location.lat();
            document.getElementById('street_number').value = place.name;
            // document.getElementById('street_name').value = place.address_components[1].long_name
            document.getElementById('city').value = individualAddressComponents[1];
            document.getElementById('state').value = state;
            document.getElementById('zip').value = zip;
            console.log("This function is working!");
            console.log(place.name);
            // console.log(place);
            // var addressComponents = input.split(',');
            console.log(place.formatted_address);
            console.log(individualAddressComponents);
            console.log(stateString);
            console.log(place.geometry.location.lng());
            console.log(place.geometry.location.lat());
            
            console.log(state);
            console.log(zip);

         updateMap();

        });


	google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Quality', 20]
        ]);

        var options = {
          width: 200, height: 220,
          redFrom: 0, redTo: 25,
          yellowFrom:25, yellowTo: 75,
          greenFrom: 75, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);
    }

</script>

<script>
      function initMap() {

      	var myCity = $("#startCity").val();
		var myState = $("#startState").val()
		var myLat = parseFloat($("#sessionLat").val())
		var myLong = parseFloat($("#sessionLong").val())
		console.log("CITYSTATE");
		// console.log(myCity);
		// console.log(myState);
		console.log(myLat);
		console.log(myLong);
        var uluru = {lat: myLat, lng: myLong};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var infowindow = null;
		/* now inside your initialise function */
		infowindow = new google.maps.InfoWindow({
		content: "holding..."
		});

		
		

        $.ajax({
		  method: "POST",
		  url: "/ajax/stores",
		  data: { latitude: myLat, longitude: myLong }
		})
		  .done(function( msg ) 
		  {
		  	console.log(msg);
		  	for (x in msg)
		  	{
		  		var latLng = new google.maps.LatLng(msg[x].coordinate.latitude,msg[x].coordinate.longitude);
		          var marker = new google.maps.Marker({
		            position: latLng,
		            map: map,
		            title: msg[x].name,
		            info: msg[x].name,
		            html: "<h3>"+msg[x].name+"</h3>"
		    	})		// console.log(msg)
		  	
			  	google.maps.event.addListener(marker, 'click', function () {
				// where I have added .html to the marker object.
				infowindow.setContent(this.html);
				infowindow.open(map, this);
				});
			}
			$.ajax({
			  method: "POST",
			  url: "/ajax/freePoints",
			  data: { latitude: myLong, longitude: myLat }
			}).done(function( freepoints ) 
		  {
		  	console.log(freepoints)
		  	 var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
		  	var pinColor = "#00BF2E";
    		var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
		        new google.maps.Size(21, 34),
		        new google.maps.Point(0,0),
		        new google.maps.Point(10, 34));
		    var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
		        new google.maps.Size(40, 37),
		        new google.maps.Point(0, 0),
		        new google.maps.Point(12, 35));
		  	for (y in freepoints)
		  	{
		  		var latLng = new google.maps.LatLng(freepoints[y].long,freepoints[y].lat);
		          var marker = new google.maps.Marker({
		            position: latLng,
		            map: map,
		            title: freepoints[y].waterpoint_name,
		            info: freepoints[y].waterpoint_name,
		            html: "<h3>"+freepoints[y].waterpoint_name+"</h3>",
		            icon: '/images/free_marker.png'
                	
		    	})		// console.log(msg)
		  	
			  	google.maps.event.addListener(marker, 'click', function () {
				// where I have added .html to the marker object.
				infowindow.setContent(this.html);
				infowindow.open(map, this);
				});
			}
		  })
		});
    }


     
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxWzXGc9oLo60oyxaiuOaqnFOkpnX5lsI&callback=initMap">
    </script>
