<% include userheader %>
<input type="hidden" id="sessionLat" value="<%=long%>">
<input type="hidden" id="sessionLong" value="<%=lat%>">
<script>
window.onload = function() {
  var startPos;
  var geoSuccess = function(position) {
    startPos = position;
    console.log(position);
    document.getElementById('startLat').innerHTML = startPos.coords.latitude;
    document.getElementById('startLon').innerHTML = startPos.coords.longitude;
  };
  navigator.geolocation.getCurrentPosition(geoSuccess);

};
      function initMap() {

      	var myLat = parseFloat($("#sessionLat").val())
		var myLong = parseFloat($("#sessionLong").val())
		console.log(myLat);
		console.log(myLong);
        var uluru = {lat: myLat, lng: myLong};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
       var infowindow = null;
		/* now inside your initialise function */
		infowindow = new google.maps.InfoWindow({
		content: "holding..."
		});

        $.ajax({
		  method: "POST",
		  url: "/ajax/stores",
		  data: { latitude: myLat, longitude: myLong }
		})
		  .done(function( msg ) 
		  {
		  	console.log(msg);
		  	for (x in msg)
		  	{
		  		var latLng = new google.maps.LatLng(msg[x].coordinate.latitude,msg[x].coordinate.longitude);
		          var marker = new google.maps.Marker({
		            position: latLng,
		            map: map,
		            title: msg[x].name,
		            info: msg[x].name,
		            html: "<h3>"+msg[x].name+"</h3>"
		    	})		// console.log(msg)
		  	
			  	google.maps.event.addListener(marker, 'click', function () {
				// where I have added .html to the marker object.
				infowindow.setContent(this.html);
				infowindow.open(map, this);
				});
			}
			
			$.ajax({
			  method: "POST",
			  url: "/ajax/freePoints",
			  data: { latitude: 38.5382, longitude: -121.7617 }
			}).done(function( freepoints ) 
		  {
		  	console.log(freepoints)
		  	 var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
		  	var pinColor = "#00BF2E";
    		var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
		        new google.maps.Size(21, 34),
		        new google.maps.Point(0,0),
		        new google.maps.Point(10, 34));
		    var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
		        new google.maps.Size(40, 37),
		        new google.maps.Point(0, 0),
		        new google.maps.Point(12, 35));
		  	for (y in freepoints)
		  	{
		  		var latLng = new google.maps.LatLng(freepoints[y].long,freepoints[y].lat);
		          var marker = new google.maps.Marker({
		            position: latLng,
		            map: map,
		            title: freepoints[y].waterpoint_name,
		            info: freepoints[y].waterpoint_name,
		            html: "<h3>"+freepoints[y].waterpoint_name+"</h3>",
		            icon: '/images/free_marker.png'
                	
		    	})		// console.log(msg)
		  	
			  	google.maps.event.addListener(marker, 'click', function () {
				// where I have added .html to the marker object.
				infowindow.setContent(this.html);
				infowindow.open(map, this);
				});
			}
		  })

		});
        
      }
    </script>
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxWzXGc9oLo60oyxaiuOaqnFOkpnX5lsI&libraries=places&callback=initMap"></script>
<link rel="stylesheet" type="text/css" href="/css/custom.css">
		<div class="container">
			<div class="row toprow">
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-default boxy status">
					  <div class="panel-heading">
					  	<div class="row">
						  <div class="col-xs-6">
						    	<h3 class="panel-title">Create New Water Point</h3>
						   </div>
						    <div class="col-xs-6"> 
						    </div>
						  </div>
					  </div>
					  <div class="panel-body">
					    <form id="cleanWaterForm" action="/waterpoint/create" method="POST">
	        				<input class="form-control" id="auto-complete-2" type="text" placeholder="Place name or address" name="name">
				        	<input id="latitude" name="latitude" type="hidden">
				        	<input id="longitude" name="longitude" type="hidden">
				        	<input id="street_number" name="street_number" type="hidden">
				        	<input id="city" name="city" type="hidden">
				        	<input id="state" name="state" type="hidden">
				        	<input id="zip" name="zip" type="hidden">
				        	<label>Notes/Description</label>
				        	<textarea name="water_description" class="form-control"></textarea>
			        	<button type="submit" class="btn btn-lg btn-success pull-right">Save</button>
			        </form>
					    <!--  <a style="position:relative; bottom:-100px;" class="pull-right" href="#">Testing and Violation Data</a> -->
					  </div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-default boxy">
					  <div class="panel-heading">
					  <div class="row">
						 <div class="col-xs-6">
						    <h3 class="panel-title">Clean Water Locations</h3>
						    	    
						  </div>
						<div class="col-xs-6">
						    
						  <a href="/stores" class="pull-right">See Full List</a> 
						</div>
					  </div>
					  <div class="panel-body">
					 <div id="map"></div>
					    <!-- <div id="map"></div> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">

var options = {

}

var input = document.getElementById('auto-complete-2');
var autocomplete = new google.maps.places.Autocomplete(input,options)

 google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            // document.getElementById('city2').value = place.name;
            // document.getElementById('cityLat').value = place.geometry.location.lat();
            var formattedAddress = place.formatted_address;
            var individualAddressComponents = formattedAddress.split(',');
             var stateString = individualAddressComponents[2];
             var state = stateString.substring(0,3);
            var zip = stateString.substring(4,9)
            document.getElementById('latitude').value = place.geometry.location.lng();
            document.getElementById('longitude').value = place.geometry.location.lat();
            document.getElementById('street_number').value = place.name;
            // document.getElementById('street_name').value = place.address_components[1].long_name
            document.getElementById('city').value = individualAddressComponents[1];
            document.getElementById('state').value = state;
            document.getElementById('zip').value = zip;
            console.log("This function is working!");
            console.log(place.name);
            // console.log(place);
            // var addressComponents = input.split(',');
            console.log(place.formatted_address);
            console.log(individualAddressComponents);
            console.log(stateString);
            console.log(place.geometry.location.lng());
            console.log(place.geometry.location.lat());
            
            console.log(state);
            console.log(zip);

            
           //  console.log(place.address_components);
           // console.log(place.address_components[0].long_name);
           // console.log(place.geometry.location.lat());

        });

</script>


   <!--  <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxWzXGc9oLo60oyxaiuOaqnFOkpnX5lsI&callback=initMap">
    </script> -->
