<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/css/foundation/js/vendor/jquery.js"></script>
<!-- <script src="/css/foundation/js/vendor/what-input.js"></script> -->
	<!-- Compressed CSS -->
<!-- <script src="/css/foundation/js/vendor/foundation.min.js"></script> -->

<!-- Compressed JavaScript -->
<!-- <link rel="stylesheet" href="/css/foundation/css/foundation.min.css"> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxWzXGc9oLo60oyxaiuOaqnFOkpnX5lsI&libraries=places"></script>
<link rel="stylesheet" type="text/css" href="/css/custom.css">
<style>
.nav {
	margin-top:3%;
	font-size: 15px;

}
.background-container {
	background-image: url('/images/drinking_water_bg.jpg');
	background-position: center;
	background-size: cover;
}
.user {
	font-weight: 900;
}
</style>
</head>
<body>
<div class="container-fluid background-container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> <img style="max-height:100px;" alt="careOn" src="/images/logo2.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		          <li class="user"><a href="/">Home<span class="sr-only">(current)</span></a></li>
		          <!-- <li class="show-for-medium user"><a href="#">Quality and Violations</a></li> -->
				 <!--  <li class="user"><a href="/stores">Water Points</a></li>
				  <li class="show-for-medium user"><a href="/getinvolved">Get Involved</a></li> -->
				  
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		       <!--  <li><a href="#">Welcome Jane</a></li>
		        <li><a href="#">Logout</a></li> -->
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>