.nav {
	margin-top:3%;
	font-size: 15px;

}
.background-container {
	background-image: url('/images/drinking_water_bg.jpg');
	background-position: center;
	background-size: cover;
}
.user {
	font-weight: 900;
}

#chart_div{
	margin-left:15%;
	opacity: 0.8;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 0px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.7);
    }
    .nav-tabs>li>a {
    	border-radius: 0;
    }

    .nav-tabs>li>a:hover{
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    background-color:white;
}

.toprow {
	margin-top:10%;
}

#map {
        height: 400px;
        width: 100%;
       }

.status {
	/*height:300px;*/
}
.panel {
	background-color: rgba(255, 255, 255, 0.5)

}

.panel-default>.panel-heading {
    color: #333;
    background-color: rgba(245, 245, 245, 0.5) !important;
    border-color: #ddd;
    background-image: none;
}



.boxy {
	border-radius:0px;
	/*margin-top:20%;*/
}
.icon {
	max-width: 25px !important;
}

.form-control {
	height:50px;
	border-radius: 0px;
	margin-bottom:15px;
}

#auto-complete {
	width: 100%;
}
.success {
	background-color:#85B200 !important;
	color: #FFF !important;
	font-weight:700;
}
.search {
	width:100% !important;
	border-radius: 0px;
	height:50px;

}
.background-container {
	min-height:1200px;
	background-image:url('/images/clean-water2.jpg');
	background-position: center;
	background-size: cover;

}
.navbar {
	background: none !important;
	padding-left: 10%;
	border:none;
	box-shadow: none;
}
.navbar ul {
	background:none !important;
}

.navbar li a {
	color: #FFFFFF !important;
}

.hero {
	text-align:center;
	color: #FFF;
/*	margin-top:1%;*/
}

.below_hero {
	color: #333;
	text-align: center;
	margin-top:1%;
}

.heroForm {
	padding:2%;
	margin-top:10%;
	margin-bottom:10%;
	background-color:#FFFFFF;
	opacity: 0.9;
	border-radius: 2px;
}

.special {
	background: none !important;
	padding:10%;
	color: #333;
	border: 1px solid silver;

}

.frequency {
	background: none !important;
	padding:10%;
	color: #333;
	border: 1px solid silver;
}

.frequency:hover {
	color: #000;
	font-weight:900;
}

.special:hover {
	color: #000;
	font-weight:900;
}

.special:active {
	border-top: 1px solid #2693FF;
}

.active {
	border-top: 2px solid #2693FF;
	background-color:none;
}
}

.menu-text {
	margin-left:10% !important;
}

.menu a {
	color:#fff;
	font-weight: 700;
}

.herotext {
	text-align: center;
	font-weight: 700;
	color: #FFF;
}
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
  .navbar-brand {
		padding: none !important;
	}
}

@media screen and(max-width: 420px) {
	.special {
		margin-left:1%;
	}
	.navbar-brand {
		padding: 0px !important;
	}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.navbar-brand {
		padding: 0px !important;
	}
}


}